.text {
  text-align: center;
  color: black;
  font-family: 'Bebas-Neue', sans-serif;
}

.collapsible{
  background-color: white;
  cursor: pointer;
  width: 70%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  align-items: center;
  font-size: 40px;
  box-shadow: 10px 10px grey;
  animation: color-change 15s linear 0s infinite alternate;
}

.sub-collapsible{
  background-color: white;
  cursor: pointer;
  width: 65%;
  margin-left: 17.5%;
  height: 50px;
  text-align: left;
  font-size: 20px;
  box-shadow: 5px 5px grey;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: color-change 15s linear 0s infinite alternate;
}

.collapsible:after {
  content: "\002B";
  animation: color-change 15s linear 0s infinite alternate;
  font-size: 40px;
  float: right;
}

.sub-collapsible:after {
  content: "\002B";
  animation: color-change 15s linear 0s infinite alternate;
  font-size: 20px;
  float: right;
}

.active:after {
  content: "\002D";
  animation: color-change 15s linear 0s infinite alternate;
  font-size: 40px;
  float: right;
}

.sub-active:after {
  content: "\002D";
  animation: color-change 15s linear 0s infinite alternate;
  font-size: 20px;
  float: right;
}

.project {
  display: flex;
  row-gap: 10px;
}

.sub-collapsible:hover, .collapsible:hover {
  background-color: grey;
}

.hidden {
  display: none;
  overflow: hidden;
}

.paragraph {
  background-color: white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 50px 50px 50px 50px;
  box-shadow: 10px 10px grey;
}


.combine {
  text-align: center;
  margin-top: -100px;
}

#profile_pic {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.images {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
  justify-content: center;
  padding-bottom: 20px;
}

#profile-pic {
  position: relative;
  z-index: 2;
  transition: transform 1s ease-in-out;
}

#container:hover #profile-pic{
  transform: translate(100%);
}

#container:hover #uclai {
  animation: reveal 2s;
  transform: translate(-10%);
  opacity: 100%;
}

#container:hover #uclphy {
  animation: reveal 2s;
  transform: translate(-120%);
  opacity: 100%;
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#uclai {
  width: 200px;
  height: auto;
  border-radius: 50%;
  position: relative;
  animation: 1s ease-in;
  margin-bottom: -17%;
  transition: transform 1s ease-in-out;
  top: 40%;
  left: 45%;
}

#uclphy {
  width: 200px;
  height: auto;
  border-radius: 50%;
  position: relative;
  margin-bottom: -17%;
  margin-left: -17%;
  animation: 1s ease-in;
  transition: transform 1s ease-in-out;
  top: 40%;
  left: 45%;
}


#main-title {
  font-size: 100px;
  background-clip: text;
  animation: color-change 15s linear 0s infinite alternate;
  margin-bottom: -10px;
}

#headline {
  font-size: 14px;
  background-clip: text;
  animation: color-change 15s linear 0.2s infinite alternate;
  margin-bottom: 50px;
}

@keyframes color-change {
  12% {color: #1391F0}
  20% {color: #DC1C5F}
  35% {color: #B805E4}
  55% {color: #1391F0}
  60% {color: #1391F0}
  70% {color: #f72e25}
  80% {color: #f79725}
  90% {color: #DC1C5F}
}

#backdrop {
  background-color: black;
}
